<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand d-md-none" href="#">
            <svg class="bi" width="24" height="24">
                <use xlink:href="#aperture"/>
            </svg>
            Aperture
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#aperture"/>
                        </svg>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:product_list' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog:blog_list' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Exit</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Registration</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Enter</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>