{% extends 'main/index.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.image | media_filter }}">
                    <div class="card-body">
                        <p class="card-text">Title: {{ object.name }}</p>
                        <p class="card-text">Category: {{ object.category }}</p>
                        <p class="card-text">Description: {{ object.description | slice:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-grid gap-2 d-md-block">
                                <div class="card-footer">
                                    <div class="btn btn-group">
                                        <a href="{% url 'order:order' object.pk %}" type="button"
                                           class="w-100 btn btn-outline-warning">Order</a>
                                        <a href="{% url 'catalog:product_list' %}" class="btn btn-outline-success">Home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
